.wrapper {
  max-width: var(--maxWidth);
  margin-left: auto;
  margin-right: auto;
  padding: 0 1em;
}

@media (min-width: 700px) {
  .wrapper {
    padding: 0 4em;
  }
}

@media (min-width: 1300px) {
  .wrapper {
    padding: 0;
  }
}
