/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Own Styles Start */

:root {
  --clr-dark-100: #4c566a;
  --clr-dark-200: #434c5e;
  --clr-dark-300: #3b4252;
  --clr-dark-400: #2e3440;

  --clr-light-100: #eceff4;
  --clr-light-200: #e5e9f0;
  --clr-light-300: #d8dee9;

  --clr-accent-100: #88c0d0;

  --clr-bg-light: var(--clr-light-100);
  --clr-text-light: var(--clr-light-100);
  --clr-bg-dark: var(--clr-dark-300);
  --clr-text-dark: var(--clr-dark-300);

  --clr-accent-error: #bf616a;
  --clr-accent-succes: #a3be8c;

  --font-scale: 1.125;
  --base-font: 1.125rem;
  --fs-400: var(--base-font);
  --fs-300: calc(var(--base-font) / var(--font-scale));
  --fs-200: calc(var(--fs-300) / var(--font-scale));
  --fs-100: calc(var(--fs-200) / var(--font-scale));

  --fs-500: calc(var(--base-font) * var(--font-scale));
  --fs-600: calc(var(--fs-500) * var(--font-scale));
  --fs-700: calc(var(--fs-600) * var(--font-scale));
  --fs-800: calc(var(--fs-700) * var(--font-scale));
  --fs-900: calc(var(--fs-800) * var(--font-scale));

  --maxWidth: 75rem;
  --bs: 0 3px 6px rgba(0, 0, 0, 0.16);
}

body {
  background-color: var(--clr-bg-light);
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.loginPage.split,
.registerPage.split {
  height: calc(100vh - 107px);
  position: relative;
  padding-top: 4em;
}

.error-text {
  opacity: 0;
  color: var(--clr-accent-error);
  transition: opacity 0.1s linear;
}

.error-text[aria-hidden="false"] {
  opacity: 1;
}

.loginPage .link,
.loginPage h1,
.registerPage .link,
.registerPage h1 {
  text-align: center;
}

.loginPage form,
.registerPage form {
  --space: 1.5rem;
  margin-top: 1.5rem;
}

.loginPage fieldset,
.registerPage fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.loginPage fieldset > * + *,
.registerPage fieldset > * + * {
  margin-top: var(--space);
}

.loginPage fieldset > *,
.registerPage fieldset > * {
  display: block;
}

.loginPage fieldset input,
.registerPage fieldset input {
  display: block;
  width: 100%;
  border: none;
  background-color: var(--clr-light-300);
  box-shadow: var(--bs);
  padding: 0.5em 0.75em;
}

.loginPage fieldset button,
.registerPage fieldset button {
  margin-left: auto;
  margin-right: auto;
}

/* Overwrite margin top set in this component */

.loginPage fieldset input + p,
.registerPage fieldset input + p {
  margin-top: 5px;
}

.loginPage fieldset label,
.registerPage fieldset label {
  margin-top: 10px;
}

.loginPage form a,
.registerPage form a {
  color: var(--clr-accent-100);
  text-decoration: underline;
}

@media (min-width: 400px) {
  .loginPage fieldset label,
  .registerPage fieldset label {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 700px) {
  .loginPage.split::after,
  .registerPage.split::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: var(--clr-bg-dark);
    z-index: -1;
  }

  .loginPage fieldset label,
  .registerPage fieldset label {
    margin-left: 0;
  }

  .loginPage .link,
  .loginPage h1,
  .registerPage .link,
  .registerPage h1 {
    text-align: left;
  }

  .loginPage fieldset button,
  .registerPage fieldset button {
    margin-left: 0;
  }

  .loginPage .link,
  .registerPage .link {
    position: relative;
    display: inline-block;
    z-index: 2;
  }
  .loginPage .link::after,
  .registerPage .link::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--clr-bg-light);
    width: 102%;
    height: 100%;
    z-index: -1;
  }
}
