.header {
  padding: 2em 0;
  box-shadow: var(--bs);
  grid-column: 1 / -1;
  grid-row-start: 1;
  position: relative;
}

.header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header nav {
  display: grid;
  grid-auto-flow: column;
  gap: 1em;
  color: var(--clr-text-dark);
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  margin-left: 0.5em;
}

.right,
.header nav {
  color: var(--clr-text-dark);
}

.right {
  display: flex;
  align-items: center;
}

.right > * + * {
  margin-left: 1em;
}

.username {
  display: none;
}

@media (min-width: 450px) {
  .username {
    display: block;
  }
}

@media (min-width: 700px) {
  .header::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    z-index: -1;
    background-color: var(--clr-bg-dark);
  }

  .right,
  .header nav {
    color: var(--clr-text-light);
  }
}
